/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/


/* Table of Content
==================================================
	#Reset & Basics
	#Basic Styles
	#Site Styles
	#Typography
	#Links
	#Lists
	#Images
	#Buttons
	#Forms
	#Misc */


/* #Reset & Basics (Inspired by E. Meyers)
================================================== */

.pull-right {
	float: right;
}

.pull-left {
	float: left;
}

.column-left,
.column-right {
	width: 46%;
}

.margin-bottom {
	margin-bottom: 20px;
}

.no-list li {
	float: left;
	width: 50%;
	margin: 0;
	padding: 0;
	line-height: 20px;
	line-height: 2.0rem;
}
